h2 {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    color: blue;
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style: none;
    color: cornflowerblue;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

label {
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
}

label input {
    color: blueviolet;
    outline-style: dashed;
    outline-width: 1px;
}