<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>增加菜单</title>
        <link rel="stylesheet" href="/css/base.css">
    </head>
    <body>
        <%- include('../../common/header.html') %>
        <h2>增加菜单</h2>
        <form action="/admin/nav/doAdd" method="post" enctype="multipart/form-data">
            <p><label>标题：<input type="text" name="title" placeholder="请输入标题" /></label></p>
            <!-- 这里一定要设置 id 属性的值 -->
            <p><input type="file" name='pic' id="pic" /></p>
            <p><label>内容：<textarea name="content" placeholder="请输入反馈内容" cols="30" rows="10"></textarea></label></p>
            <p><input type="submit" value="提交" /></p>
        </form>
        <%- include('../../common/footer.html') %>
    </body>
</html>