<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板引擎</title>
</head>
<body>
    <%- include('header.ejs') %>
    <h2>我是一个模板引擎</h2>
    <%- include('footer.ejs') %>
</body>
</html>